<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{% include 'html_fragments/head.html' %}
<body class="stretched">
	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">
		{% include 'html_fragments/header.html' %}
				<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap" style="background-color: #F3F1EA">
				<div class="container clearfix">

					<div class="row justify-content-center">

						<div class="col-xl-6 col-lg-8 text-center mb-5">
							<h3 class="h1 fw-bold mb-3">{{ exercise_info.exercise_name }}</h3>
							<p>{{ exercise_info.exercise_description }}</p>
						</div>

					</div>

					<div class="row justify-content-center">

						<div class="col-12">
							<div class="border rounded p-4 mb-4 h-shadow all-ts bg-white h-translatey-sm">
								<div class="row align-items-center col-mb-30">
									<div class="col-lg-3 col-md-6">
										<h3 class="mb-0 fw-semibold font-secondary">Task</h3>
									</div>
									<div class="col-lg-5 col-md-6">
										<p class="mb-0 text-larger fw-normal">Download the Task File(s)</p>
									</div>
									<div class="col-lg-2 text-lg-end col-md-6" style="display: inline">
										{% for task in exercise_info.tasks_list -%}
											<form action="" method="post" style="display: inline">
													<input style="display:none" type="text" name="file_name" value={{ task }}>
													<input class="btn btn-outline-dark m-0" type="submit" value={{ task }}>
											</form>
										{% endfor -%}
									</div>
								</div>
							</div>
						</div>

						<div class="col-12">
							<div class="border rounded p-4 mb-4 h-shadow all-ts bg-white h-translatey-sm">
								<div class="row align-items-center col-mb-30">
									<div class="col-lg-2 col-md-4">
										<h3 class="mb-0 fw-semibold font-secondary">Upload</h3>
									</div>
									<div class="col-lg-4 col-md-4">
										<p class="mb-0 text-larger fw-normal">Upload your Solution here</p>
									</div>
									<form action={{ request.url._url + "/submit" }} method="post" enctype="multipart/form-data" style="width:auto">
										<div class="col-lg-2 text-lg-end col-md-4" style="display: inline">
												<input class="btn btn-outline-dark m-1" type="file" id="myfile" name="myfile">
										</div>
										<div class="col-lg-2 text-lg-end col-md-2" style="display: inline">
												<input class="btn btn-outline-dark m-0" type="submit" value="Submit Picture" style="display: inline;">
										</div>
									</form>
								</div>
							</div>
						</div>

						<div class="col-12">
							<div class="border rounded p-4 mb-4 h-shadow all-ts bg-white h-translatey-sm">
								<div class="row align-items-center col-mb-30">
									<div class="col-lg-2 col-md-6">
										<h3 class="mb-0 fw-semibold font-secondary">Score</h3>
									</div>
									<div class="col-lg-5 col-md-6">
										<p class="mb-0 text-larger fw-normal">Find out your Score here and download the solution file</p>
									</div>
									<div class="col-lg-2 col-md-6">
										{% if exercise_info.score == '' %}
											<p class="mb-0 text-larger fw-normal">No File yet uploaded</p>
										{% else %}
											<p class="mb-0 text-larger fw-normal">{{exercise_info.score}}</p>
										{% endif %}
									</div>
									<div class="col-lg-2 text-lg-end col-md-6">
										<form action="" method="post" style="display: inline">
											<input style="display:none" type="text" id="file_name_1" name="file_name" value="correction.png">
											<button href="#" class="btn btn-outline-dark m-0" type="submit" {% if exercise_info.score == '' or exercise_info.score == 'In Progress' %} disabled {% endif %}>Download Solution</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section><!-- #content end -->
	</div>
	{% include 'html_fragments/footer.html' %}
	{% include 'html_fragments/scripts.html' %}
</body>
</html>