<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{% include 'html_fragments/head.html' %}
<body class="stretched">
	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">
		{% include 'html_fragments/header.html' %}

		<section id="slider" class="slider-element slider-parallax min-vh-60 min-vh-md-100 dark include-header" style="background: url(images/landing/static.jpg) center center no-repeat; background-size: cover">
			<div class="slider-inner">

				<div class="vertical-middle slider-element-fade">
					<div class="container-fluid py-5">
						<div class="heading-block text-center border-bottom-0">
							<h1>Starter's Guide to create Landing Pages</h1>
							<span>Building a Landing Page was never so Easy &amp; Interactive</span>
						</div>

						<div class="text-center">
							<a href="#" class="button button-3d button-teal button-xlarge mb-0"><i class="icon-star3"></i>Start your FREE Trial</a> - OR - <a href="#" data-scrollto="#section-pricing" class="button button-3d button-red button-xlarge mb-0"><i class="icon-user2"></i>Sign Up for a Subscription</a>
						</div>
					</div>
				</div>

			</div>
		</section>

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">
					<div id="section-features" class="heading-block text-center page-section">
						<h2>Features Overview</h2>
						<span>Some of the Features that are gonna blow your mind off</span>
					</div>
					<div class="row justify-content-center col-mb-50 mb-0">
						<div class="col-md-6 col-lg-4">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon" data-animate="bounceIn">
									<a href="#"><img src="images/icons/features/responsive.png" alt="Responsive Layout"></a>
								</div>
								<div class="fbox-content">
									<h3>Responsive Layout</h3>
									<p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon" data-animate="bounceIn" data-delay="200">
									<a href="#"><img src="images/icons/features/retina.png" alt="Retina Graphics"></a>
								</div>
								<div class="fbox-content">
									<h3>Retina Graphics</h3>
									<p>Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all others graphics are optimized.</p>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon" data-animate="bounceIn" data-delay="400">
									<a href="#"><img src="images/icons/features/performance.png" alt="Powerful Performance"></a>
								</div>
								<div class="fbox-content">
									<h3>Powerful Performance</h3>
									<p>Canvas includes tons of optimized code that are completely customizable and deliver unmatched fast performance.</p>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon" data-animate="bounceIn" data-delay="600">
									<a href="#"><img src="images/icons/features/flag.png" alt="Responsive Layout"></a>
								</div>
								<div class="fbox-content">
									<h3>Endless Possibilities</h3>
									<p>You have complete easy control on each &amp; every element that provides endless customization possibilities.</p>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon" data-animate="bounceIn" data-delay="800">
									<a href="#"><img src="images/icons/features/tick.png" alt="Retina Graphics"></a>
								</div>
								<div class="fbox-content">
									<h3>Light &amp; Dark Scheme</h3>
									<p>Change your Website's Primary Scheme instantly by simply adding the dark class to the body.</p>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon" data-animate="bounceIn" data-delay="1000">
									<a href="#"><img src="images/icons/features/tools.png" alt="Powerful Performance"></a>
								</div>
								<div class="fbox-content">
									<h3>Customizable Fonts</h3>
									<p>Use any Font you like from Google Web Fonts, Typekit or other Web Fonts. They will blend in perfectly.</p>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon" data-animate="bounceIn" data-delay="1200">
									<a href="#"><img src="images/icons/features/map.png" alt="Responsive Layout"></a>
								</div>
								<div class="fbox-content">
									<h3>Responsive Layout</h3>
									<p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon" data-animate="bounceIn" data-delay="1400">
									<a href="#"><img src="images/icons/features/seo.png" alt="Retina Graphics"></a>
								</div>
								<div class="fbox-content">
									<h3>Retina Graphics</h3>
									<p>Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all others graphics are optimized.</p>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon" data-animate="bounceIn" data-delay="1600">
									<a href="#"><img src="images/icons/features/support.png" alt="Powerful Performance"></a>
								</div>
								<div class="fbox-content">
									<h3>Powerful Performance</h3>
									<p>Canvas includes tons of optimized code that are completely customizable and deliver unmatched fast performance.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="divider divider-sm divider-center"><i class="icon-circle"></i></div>
				</div>
			</div>
		</section><!-- #content end -->
	</div>
	{% include 'html_fragments/footer.html' %}
	{% include 'html_fragments/scripts.html' %}
</body>
</html>